# Gradle
.gradle/
build/
*/build/

# Android Studio / IntelliJ
.idea/
*.iml

# Local properties
local.properties

# APK / Output
*.apk
*.ap_  
*.aab
*.dex

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package.json
package-lock.json

# Others
.cxx/
